{% extends 'base.html' %}
{% load static %}
{% load round %}

{% block head %}
    <title>View listing</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}
    <div class="offer-container">
        <div class="offer-details">
            {% include 'listings/listing-details.html' %}
            <h3>Statistics:</h3>
            <canvas id="myChart" width="400" height="200"></canvas>
        </div>
        <div class="seller-profile">
            <h1>{{ advertisement.user.get_username }}</h1>
        </div>
        {% include 'listings/ratings_list.html' %}
        </div>
{% endblock %}

{% block scripts %}
    <script>
        const labels = JSON.parse('{{ labels|safe }}');
        const data = JSON.parse('{{ data|safe }}');

        new Chart(document.getElementById('myChart'), {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Views',
                    data: data,
                    tension: 0.25,
                    fill: false,
                    borderWidth: 2
                }]
            },
            options: {
                responsive: true,
                scales: {y: {
                    beginAtZero: true
                }
                }
            }
        });
    </script>
{% endblock %}