{% extends 'base.html' %}
{% load other_participant %}

{% block content %}
    <div class="chat-header">
    {% if thread.advert.image %}
        <img src="{{ thread.advert.image.url }}">
    {% else %}
        <img class="thread-advert-picture" src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png">
    {% endif %}
        <h4>{{ thread.advert }}</h4>
    </div>
    <div id="chat-box" class="chat-container">
        <div class="message-area" id="chat-log">
            {% for message in messages  %}
                <div class="message-row {% if message.sender_id == request.user.pk %}own{% else %}other{% endif %}">
                    <p class="text"><strong>{{ message.sender.username }}: </strong>{{ message.content }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="new-message">
            <input id="msg-input" type="text" placeholder="Type a message ...">
            <button id='send-button' onclick="sendMessage()">Send</button>
        </div>
    </div>
    <div class="chat-actions">
    {% if request.user == thread.advert.user and not thread.orders.first %}
        <a class="primary-btn" href="{% url 'create_order' thread.advert.pk thread.advert.slug %}">
            <p class="primary-btn-text">Create an offer</p>
        </a>
    {% endif %}
    {% if thread.orders.first %}
        <!-- Load it only when there is an order linked to the chat, or it breaks the page. -->
        {% include 'chat/offer_button.html' %}
    {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script>

        window.onload = () => {
        const chatLog = document.getElementById('chat-log');
        chatLog.scrollTop = chatLog.scrollHeight;
        };

        const threadID = '{{ thread.pk }}'
        const userId = '{{ request.user.pk }}';
        const userName = '{{ request.user.username }}'
        const socket = new WebSocket(`ws://${window.location.host}/ws/chat/${threadID}/`);

        socket.onmessage = function (e) {
          const data = JSON.parse(e.data);
          const messageLog = document.getElementById('chat-log');

          const isOwn = data.sender_id === parseInt(userId);
          const msgRow = document.createElement('div');
          msgRow.className = 'message-row' + (isOwn? ' own': ' other');
          msgRow.innerHTML = `<p><strong>${data.sender_name}:</strong> ${data.content}</p>`;

          messageLog.appendChild(msgRow);
          messageLog.scrollTop = messageLog.scrollHeight;
        };

        function sendMessage(){
            const input = document.getElementById('msg-input');
            const message = input.value;
            socket.send(JSON.stringify({content: message}));
            input.value = '';
        }

        const userMessage = document.getElementById('msg-input');
        const sendButton = document.getElementById('send-button');

        sendButton.disabled = !userMessage.value.trim();

        userMessage.addEventListener('input', () => {
            sendButton.disabled = !userMessage.value.trim();
        });

        userMessage.addEventListener('keydown', (event) => {
            if (event.key == 'Enter' && !sendButton.disabled) {
                event.preventDefault();
                sendButton.click();
            }
        })

    </script>
{% endblock %}