{% extends 'base.html' %}

{% block content %}
    <div class="chat-header">
        <h4>{{ thread.advert }}</h4>
    </div>
    <div id="chat-box" class="chat-container">
        <div class="message-area" id="chat-log">
            {% for message in messages  %}
                <div class="message-row {% if message.sender_id == request.user.pk %}own{% else %}other{% endif %}">
                    <p><strong>{{ message.sender.username }}: </strong>{{ message.content }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="new-message">
            <input id="msg-input" type="text" placeholder="Type a message ...">
            <button id='send-button' onclick="sendMessage()">Send</button>
        </div>
    </div>
    <div class="chat-actions">
        <a class="primary-btn" href="{% url 'create_order' thread.advert.id thread.advert.slug %}">Create an offer</a>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        const otherUserId = '{{ thread.advert.user.pk }}';
        const userId = '{{ request.user.username }}';
        const advertId = '{{ thread.advert.pk }}'
        const socket = new WebSocket(`ws://${window.location.host}/ws/chat/${otherUserId}/${advertId}/`);

        socket.onmessage = function (e) {
          const data = JSON.parse(e.data);
          const messageLog = document.getElementById('chat-log');

          const isOwn = data.sender_id === userId;
          const msgRow = document.createElement('div');
          msgRow.className = 'message-row' + (isOwn? ' own': ' other');
          msgRow.innerHTML = `<p><strong>${data.sender_id}:</strong> ${data.content}</p>`;

          messageLog.appendChild(msgRow);
          messageLog.scrollTop = messageLog.scrollHeight;
        };

        function sendMessage(){
            const input = document.getElementById('msg-input');
            const message = input.value;
            socket.send(JSON.stringify({content: message}));
            input.value = '';
        }

        const userMessage = document.getElementById('msg-input');
        const sendButton = document.getElementById('send-button');

        sendButton.disabled = !userMessage.value.trim();

        userMessage.addEventListener('input', () => {
            sendButton.disabled = !userMessage.value.trim();
        });

        userMessage.addEventListener('keydown', (event) => {
            if (event.key == 'Enter' && !sendButton.disabled) {
                event.preventDefault();
                sendButton.click();
            }
        })

    </script>
{% endblock %}