<!DOCTYPE html>
<html lang="en">
{% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name='viewport' content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Pomo6{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="icon" href="{% static 'images/img_logo.png' %}">
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="page-container">
            {# Nav bar #}
            <header>
                {% include 'nav.html' %}
            </header>

            <main class="content">
            {# Display Django messages if any #}
            {% if messages and not hide_messages %}
                <ul class="django-messages">
                {% for message in messages %}
                    <li id="message-container" class="message message{% if message.tags %}-{{ message.tags }}{% endif %}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}

                {% block content %}{% endblock %}
            </main>

            <footer>
                {% include 'footer.html' %}
            </footer>
        </div>

        <script>
            {# Script to hide Django messages after 3 seconds  #}
            const messageElement = document.getElementById("message-container");
            if (messageElement) {
                setTimeout(function () {
                    messageElement.style.display = "none";
                }, 3000);
            }
        </script>
{#  Additional scripts for pages inheriting #}
    {% block scripts %}{% endblock %}
    </body>
</html>
