{% load static %}
{% load notification_tag %}

    <div class="top_nav">
        <div class="branding" onclick="location.href='{% url 'home' %}'">
            <img class="logo" src="{% static 'images/img_logo.png' %}">
            <h1>pomo6</h1>
        </div>

        {#  Menu shown if unauthenticated user  #}
            {% if not user.is_authenticated %}
            <div class="menu">
                <button class='register' type="button" onclick="location.href='{% url 'register' %}'">Register</button>
                <button class="login" type="button" onclick="location.href='{% url 'login' %}'">Log in</button>
            </div>
            {# Mobile hamburger menu #}
            {% else %}
            {% notification_tag as notif_nb %}
            <div class="hamburger" onclick="toggleMobileMenu()">☰</div>
            <div class="mobile-menu" id="mobile-menu">
                <a href="{% url 'create_ad_view' %}">Add a listing</a>
                <a href="{% url 'profile' request.user.id %}">Profile</a>
                <a href="{% url 'notification-list' %}">My notifications ({{ notif_nb }})</a>
                <a href="{% url 'my_listings' %}">My listings</a>
                <a href="{% url 'my_orders' %}">My orders (buyer)</a>
                <a href="{% url 'seller_orders' %}">My orders (seller)</a>
                {% if user.is_staff %}<a href="{% url 'to_approve' %}">Approve listings (admin)</a>{% endif %}
                <a href="{% url 'logout' %}">Logout</a>
            </div>

            {# Desktop menu  #}
            <div class="menu mobile-hidden" id="full-menu">
                <p style="color: #00BD9D">{{ request.user.username }}</p>
                <div class="nav-button" id="menu-toggle">
                    {% if notif_nb == 0 %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#00BD9D" viewBox="0 0 24 24">
                        <path d="M12 12c2.7 0 5-2.3 5-5s-2.3-5-5-5-5 2.3-5 5 2.3 5 5 5zm0 2c-3.3 0-10 1.7-10 5v3h20v-3c0-3.3-6.7-5-10-5z"/>
                    </svg>
                    {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 32 32">
                          <path fill="#00BD9D" d="M16 16c3 0 6-2.7 6-6s-3-6-6-6-6 2.7-6 6 3 6 6 6zm0 2c-4 0-12 2-12 6v2h24v-2c0-4-8-6-12-6z"/>
                          <circle cx="24" cy="8" r="3" fill="red"/>
                        </svg>
                    {% endif %}
                </div>
                    <ul class="nav-links" id="nav-links">
                        <li><a href="{% url 'profile' request.user.id %}">Profile</a> </li>
                        <li><a href="{% url 'notification-list' %}">My notifications ({{ notif_nb }})</a></li>
                        <li><a href="{% url 'my_listings' %}">My listings</a> </li>
                        <li><a href="{% url 'my_orders' %}">My orders (buyer)</a></li>
                        <li><a href="{% url 'seller_orders' %}">My orders (seller)</a></li>
                        {% if user.is_staff  %}<li><a href="{% url 'to_approve' %}">Approve listings (admin)</a></li>{% endif %}
                        <li><a href="{% url 'logout' %}" onclick="event.preventDefault(); document.getElementById('logout-form').submit() ">Logout</a></li>
                    </ul>
                    <a href="{% url 'thread-list' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="#00BD9D">
                            <path d="M4 4h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H7l-3 3v-3H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2z" />
                        </svg>
                    </a>
                    <button class="primary-btn" type="button" onclick="location.href='{% url 'create_ad_view' %}'">Add a listing</button>
                </div>
        {% endif %}
    </div>

    {# Logout form #}
    <form id="logout-form" method="post" action="{% url 'logout' %}">
        {% csrf_token %}
    </form>

<script>
    {# Show the expanding menu on browser #}
    const menuToggle = document.getElementById('menu-toggle');
    const navLinks = document.getElementById('nav-links');

    menuToggle.addEventListener('click', () => {
        navLinks.classList.toggle('active');
    });

    window.addEventListener('click', function (e) {
        if (!navLinks.contains(e.target) && !menuToggle.contains(e.target) && navLinks.classList.contains('active')) {
            navLinks.classList.toggle('active')
        }
    })

    {# Toggle the hamburger menu on mobile #}
    function toggleMobileMenu() {
        const menu = document.getElementById('mobile-menu');
        menu.classList.toggle('mobile-visible')
    }
</script>
