{% extends 'base.html' %}
{% load static %}
{% load round %}

{% block head %}
    <title>View listing</title>
{% endblock %}

{% block content %}
    <div class="offer-container">
        <div class="offer-details">
            {% if not advertisement.image %}
                <div class="offer-image" style="background-image: url('https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png')"></div>
            {% else %}
                <div class="offer-image" style="background-image: url('{{ advertisement.image.url }}')"></div>
            {% endif %}
            <h1>{{ advertisement.title }}</h1>
            {% if advertisement.nb_ratings != 0  %}
            <div>{{ advertisement.avg_rating|round }}/5</div>
            {% else %}
                <div>Not rated yet!</div>
            {% endif %}
            <div class="category-tag">{{ advertisement.category }}</div>
            <p class="offer-description">Description: <br>{{ advertisement.description }}</p>
        </div>
        <div class="seller-profile">
            <h1>Joe le clodo</h1>
        </div>
            <div class="ad-comments">
                <h3>Reviews: </h3>
                {% for order in advertisement.orders.all %}
                    <div class="comment-info">
                        {% for rating in order.ratings.all %}
                            <p>{{ order.user }}</p>
                            <p>{{ rating.rating | round }}/5</p>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}