{% extends 'base.html' %}
{% load static %}
{% load round %}

{% block head %}
    <meta charset="UTF-8">
    <meta name='viewport' content="width-device-width, initial-scale=1.0">
    <title>View listing</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
    <div class="ad-details">
        <h1>{{ advert.title }}</h1>
        <p>{{ advert.category }}</p>
        <p>{{ advert.description }}</p>
    </div>
    <div class="add-comments">
        {% for order in advert.orders.all %}
            <div class="comment-info">
                {% for rating in order.ratings.all %}
                    <p>{{ order.user }}</p>
                    <p>{{ rating.rating | round }}</p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}