{% extends 'base.html' %}
{% load static %}
{% load round %}

{% block head %}
    <title>View listing</title>
{% endblock %}

{% block content %}
    <div class="listing-content">
        <div class="ad-details">
            <div class="ad-header">
               {% if not advertisement.image %}
                        <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png">
                    {% else %}
                        <img src="{{ advertisement.image.url }}">
                    {% endif %}                <div class="ad-title-and-category">
                    <h1>{{ advertisement.title }}</h1>
                    <p>{{ advertisement.category }}</p>
                </div>
            </div>
            <p>{{ advertisement.description }}</p>
        </div>
        <div class="ad-comments">
            <h3>See what others think: </h3>
            {% for order in advertisement.orders.all %}
                <div class="comment-info">
                    {% for rating in order.ratings.all %}
                        <p>{{ order.user }}</p>
                        <p>{{ rating.rating | round }}/5</p>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}