{% load round %}

{% if not advertisement.image %}
    <div class="offer-image" style="background-image: url('https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png')"></div>
{% else %}
    <div class="offer-image" style="background-image: url('{{ advertisement.image.url }}')"></div>
{% endif %}

<h1 class="text">{{ advertisement.title }}</h1>

{% if advertisement.nb_ratings != 0  %}
    <div class="listing-meta text"><b>Rated:</b> {{ advertisement.avg_rating|round }}/5</div>
{% else %}
    <div class="listing-meta text"><b>Rated:</b> Not rated yet!</div>
{% endif %}

<div class="category-tag text">Category: {{ advertisement.category }}</div>

<p class="offer-description text">Description: <br>{{ advertisement.description }}</p>