{% load static %}

<div class="seller-profile">
    {% if advertisement.user.profile.image %}
    <div class="profile-image profile-image-smaller" style="background-image: url('{{ advertisement.user.profile.image.url }}')"></div>
    {% else %}
        <div class="profile-image profile-image-smaller" style="background-image: url('{% static 'images/img_home.png' %}')"></div>
    {% endif %}
     <h1><a href="{% url 'profile' advertisement.user.pk %}">{{ advertisement.user.get_username }}</a></h1>
    <p class="text">{{ advertisement.user.profile.description }}</p>
</div>