{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>View listing</title>
{% endblock %}

{% block content %}
    <div class="listing-container">
        <div class="offer-details">
            {% include 'adverts/listing-details.html' %}
            <a href="{% url 'thread-redirect' object.id  %}"><button class="primary-btn">Contact the seller</button></a>
        </div>
        {% include 'adverts/seller-profile.html' %}
        {% include 'adverts/ratings_list.html' %}
    </div>
{% endblock %}