{% extends 'base.html' %}
{% load static %}
{% load round %}

{% block head %}
    <title>View listing</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}
    <div class="listing-container">
        <div class="offer-details">
            {% include 'adverts/listing-details.html' %}
            <a class="primary-btn" href="{% url 'advert_delete' object.pk object.slug %}">
                <p class="primary-btn-text">Delete</p>
            </a>
            <h3>Statistics:</h3>
            <canvas id="myChart" width="400" height="200"></canvas>
        </div>
        {% include 'adverts/seller-profile.html' %}
        {% include 'adverts/ratings_list.html' %}
        </div>
{% endblock %}

{% block scripts %}
    <script>
        const labels = JSON.parse('{{ labels|safe }}');
        const data = JSON.parse('{{ data|safe }}');

        new Chart(document.getElementById('myChart'), {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Views',
                    data: data,
                    tension: 0.25,
                    fill: false,
                    borderWidth: 2
                }]
            },
            options: {
                responsive: true,
                scales: {y: {
                    beginAtZero: true
                }
                }
            }
        });
    </script>
{% endblock %}