{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="profile-container">
    {% if userprofile.image  %}
        <div class="profile-image" style="background-image: url('{{ userprofile.image.url }}')"></div>
    {% else %}
        <div class="profile-image" style="background-image: url('{% static 'images/img_home.png' %}')"></div>
    {% endif %}
        <h1>{{ object.full_name}}</h1>
        <p>{{ object.description }}</p>
    {% if request.user == userprofile.user %}
        <a class="edit-profile" href="{% url 'profile-edit' object.pk %}">
            <button class="primary-btn">Edit profile</button>
        </a>
    {% endif %}
    </div>
{% endblock %}