{% extends 'base.html' %}

{% block content %}
    <div class="offer-container">
        <div class="offer-status">
            <ul>
                <li {% if order.status == 'CREATED' %}class="active-status" {% endif %}>Created</li>
                <li {% if order.status == 'APPROVED' %}class="active-status" {% endif %}>Accepted</li>
                <li {% if order.status == 'COMPLETED' %}class="active-status" {% endif %}>Completed</li>
            </ul>
        </div>
        <div class="offer-info">
            <h1 class="text">{{ order.advertisement.title }}</h1>
            <h2 class="text">Offer:</h2>
            <p class="text">Amount: {{ order.amount }}</p>
            <p class="text">{{ order.description }}</p>
        </div>
    <div class="action-buttons">
        {% if request.user != order.advertisement.user and order.status == 'CREATED'%}
            <button class="primary-btn">Accept</button>
            <button class="secondary-btn">Request change</button>
        {% elif request.user == order.advertisement.user and order.status != 'COMPLETED'%}
            <button class="primary-btn">Modify</button>
            <button class="secondary-btn">Cancel</button>
        {% endif %}
    </div>
    </div>
{% endblock %}