.offer-status ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin: 0;
    padding: 0;
}

.offer-status li {
    padding: 5px 10px;
    font-size: 1.8rem;
    color: #888888;
}

.offer-status li.active-status{
    color: #00BD9D;
}

.offer-info {
    margin-top: 5rem;
    border-top: #333333 1px solid;
    padding: 2.5rem;
}

.action-buttons {
    margin: 5rem auto;
    justify-content: center;
    display: flex;
    gap: 1rem;
}

@media (max-width: 768px) {
    .offer-status ul {
        flex-direction: column;
        align-items: center;
        gap: 0.2rem;
        padding-bottom: 0.5rem;
    }

    .offer-info {
        margin-top: 0.4rem;
    }
}