.search-div {
    background-color: #FAF8F3;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    padding: 2rem;
}


.search-form {
    padding-left: 0;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.search-div input,
.search-div select {
    border-radius: 0.3rem;
    padding: 0.25em 0.5em;
    border: 1px solid lightgray;
    font-size: 0.8rem;
}

.search-div input {
    min-width: 200px;
    width: 25%;
    height: 1.5rem;
    margin-right: 2em;
}

.search-div select {
    appearance: none;
    background-color: white;
    min-width: 15ch;
    max-width: 30ch;
    height: 1.5rem;
    margin-right: 2em;
}

.search-div select::after{
    content:'';
    width: 0.8em;
    height: 0.5em;
    background-color: lightgray;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

/* SLIDERS */
.rating-slider{
    -webkit-appearance: none;
    appearance: none;
    outline: none;
}

.rating-slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 1em;
    background: #00BD9D;
    cursor: pointer;
}

.slider-group {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 2em;
}

.slider-wrapper {
    flex: 1;
    min-width: 150px;
}

.pagination{
    display: flex;
    justify-content: center;
    gap: 1em;
}

.results {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.result{
    display: block;
    width: 100%;
    text-align: left;
    justify-content: center;
    background-color: #FAF8F3;
    margin: 0.25rem auto;
    padding: 2rem;
}

a:link{
    color: #00BD9D;
    font-weight: bold;
    text-decoration: none;
}

a:visited{
    color: #00BD9D;
}

.listing-header {
    display: flex;
}

.title-and-category {
    margin-left: 1rem;
}

.result .title-and-category p{
    font-weight: bold;
    color: gray;
    font-size: 0.9rem;
}

.listing-header img{
    height: 6rem;
    width: 100%;
    max-width: 10rem;
    margin-top: 2rem;
}

.description {
    margin-left: 10rem;
    margin-right: 5rem;
}

@media (max-width: 768px) {
    .search-form {
        display: flex;

    }

    .slider-group{
        display: flex;
        flex-direction: column;
    }
}