.search-div {
    background-color: #FAF8F3;
    margin: 0.5rem 0.5rem 0.25rem 0.5rem;
    padding: 2rem;
    border-radius: 0.4rem;
}


.search-form {
    padding-left: 0;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}


.search-div input {
    min-width: 200px;
    width: 25%;
    height: 1.5rem;
    margin-right: 2em;
}


/* SLIDERS */
.rating-slider{
    -webkit-appearance: none;
    appearance: none;
    outline: none;
}

.rating-slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 1em;
    background: #00BD9D;
    cursor: pointer;
}

.slider-group {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 2em;
}

.slider-wrapper {
    flex: 1;
    min-width: 150px;
}

.pagination{
    display: flex;
    justify-content: center;
    gap: 1em;
}

.results {
    display: flex;
    flex-direction: column;
}

.result{
    text-align: left;
    justify-content: center;
    background-color: #FAF8F3;
    margin: 0.25rem 0.5rem 0.25rem 0.5rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: 3fr 5fr;
    align-items: center;
}

a:link{
    color: #00BD9D;
    font-weight: bold;
    text-decoration: none;
}

a:visited{
    color: #00BD9D;
}

.listing-header {
    display: flex;
}

.title-and-category {
    margin-left: 1rem;
}

.result .title-and-category p,
.last-message-date{
    font-weight: bold;
    color: gray;
    font-size: 0.9rem;
}

.listing-header img{
    height: 6rem;
    width: 100%;
    max-width: 10rem;
    margin-top: 2rem;
    object-fit: cover;
}

.description {
    margin-left: 10rem;
    margin-right: 5rem;
}

@media (max-width: 768px) {
    .search-form {
        display: flex;
    }

    .slider-group{
        display: flex;
        flex-direction: column;
    }

    .result {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .listing-header{
        display: flex;
        flex-direction: column;
    }

    .listing-header img{
        width: 100%;
        max-width: 100%;
        height: 10rem;
        border-radius: 10px;
    }

}