@import 'reset.css';
@import 'layout.css';
@import 'nav.css';

/* IMPORT THE RESULT PAGE SEARCH BAR CSS */
@import 'search.css';

/* IMPORT RELATED TO THE HOME PAGE IMAGE AND OVERLAY */
@import 'hero.css';

/* IMPORT FOOTER CSS */
@import 'footer.css';

/*IMPORT THE SLIDERS STYLING */
@import "sliders.css";

@import 'login.css';

@import "new-listing.css";

@import "view-listing.css";

@import 'chat.css';

@import "profile.css";

@import "orders.css";


.offer-container,
.profile-container,
.listing-container{
    margin: 0.5rem auto 0.5rem auto;
    padding: 2rem;
    background-color: #FAF8F3;
    width: 80%;
    height: auto;
    gap: 2rem;
    border-radius: 0.6rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    overflow: visible;
}

.text {
    color: #333333;
}

.offer-image,
.profile-image{
  width: 100%;
  height: 200px;
  background-color: #eaeaea;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  margin-bottom: 1rem;
}

.profile-image-smaller {
    height: 100px;
}

.categories_overlay{
    margin-top: 1.5rem;
}

.categories_overlay h2{
    color: #FAF8F3;
}

.categories_grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}

.category_card{
    color: white;
    cursor: pointer;
}

.add-edit-form {
    display: flex;
    flex-direction: column;
    background-color: #FAF8F3;
    box-shadow: 0 0 15px rgba(0,0,0,0.08);
    border-radius: 2rem;
    margin: 2rem auto;
    width: 100%;
    max-width: 700px;
    padding: 2rem;
}

.add-edit-form h2{
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

.add-edit-form input,
.add-edit-form textarea,
.add-edit-form select{
    width: 100%;
}


.add-edit-form input {
    height: 1.5rem;
}

.add-edit-form textarea{
    resize: vertical;
    min-height: 8rem;
    height: 20rem;
}

.add-form-fields{
    padding: 0.5rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

.form-button {
    color: #FAF8F3;
    border: none;
    border-radius: 0.4rem;
    margin: 0.5rem auto 0.25rem auto;
    width: 90%;
    height: 1.5rem;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-form-button {
    background-color: #00BD9D;
}

.submit-form-button:hover {
    background-color: #009f84;
}

.reset-form-button{
    background-color: #888;
}

.reset-form-button:hover{
    background-color: #666;
}

input,
textarea,
select{
    border: 1px solid lightgray;
    border-radius: 0.4rem;
    text-indent: 0.5em;
    font-size: 0.8rem;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input:focus,
textarea:focus,
select:focus{
    border-color: #14a09d;
    outline: none;
}

select {
    appearance: none;
    background-color: white;
    min-width: 15ch;
    background-image: url("data:image/svg+xml;utf8,<svg fill='%2300a6a6' height='16' viewBox='0 0 24 24' width='16' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 0.4rem center;
    background-size: 16px;
    height: 1.5rem;
    margin-right: 2em;
}

.primary-btn{
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem 2.5rem;
    background-color: #00bd9d;
    border: black;
    border-radius: 0.5rem;
    color: white;
    align-items: center;
    display: flex;
}

.primary-btn:hover {
   background-color: #009f84;
}

.secondary-btn{
        font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem 2.5rem;
    background-color: #cccccc;
    border: black;
    border-radius: 0.5rem;
    color: white;
    align-items: center;
    display: flex;
}

.secondary-btn:hover{
    background-color: #888888;
}

.primary-btn-text {
    color: white;
    font-size: 1rem;
    margin: 0 auto;
    align-items: center;
    display: flex;
}

.django-messages {
    position: fixed;
    top: 70px;
    right: 20px;
    z-index: 9999;
    list-style: none;
}

.message {
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}

.message-success {
    background-color: #4CB944;
}

.message-error {
    background-color: #B7432E;
}