.offer-details{
    display: flex;
    flex-direction: column;
    grid-column: 1;
}

.listing-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.offer-details h1{
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.listing-meta{
    font-size: 1rem;
    margin-bottom: 15px;
}

.offer-description {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.seller-profile {
    grid-column: 2;
    height: fit-content;
    text-align: center;
    border: 2px solid #eee;
    padding: 1rem;
}

.seller-profile h1{
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0;
}

.ad-comments{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
}

.ad-comments h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #eee;
    padding-bottom: 0.3rem;
}

.comment-info {
    border-bottom: 1px solid lightgray;
    padding: 1rem;
    margin-bottom: 0.8rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.comment-user,
.comment-rating {
    font-weight: bold;
}

.comment-text {
    font-weight: lighter;
    color: #666666;
}

.rating-response-comment {
    margin-left: 2rem;
    color: #666666;
    border-top: 1px solid lightgray;
    padding-top: 0.4rem;
}

.response-container form{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.response-container textarea{
    width: 100%;
    height: 2rem;
}

.response-container button {
    margin-top: 0;
}

@media (max-width: 768px) {
    .offer-container{
        grid-template-columns: 1fr;
    }
    .seller-profile{
        grid-column: 1;
        margin-top: 2rem;
    }

}